.backbg
{
	background-size:cover;
	box-shadow: 0px 1000px 0px rgba(0,0,0,0.3) inset;
	background-attachment:fixed;
}


#page-wrapper
{
	overflow:hidden;
	position: relative;
}


.front #block-system-main 
{
	margin:0px;
}

#block-system-main 
{	

	padding:0 10px;
	margin-top: 50px;
	margin-bottom: 50px;
}

#block-views-header-image-block
{
	position:relative;

	.views-field-body
	{
		max-width: 1020px;
		margin: 0 auto;
		color:white;
		font-size: 32px;
		padding-top: 85px;
		padding-left: 20px;

		p
		{
			font-size: 28px;
			line-height: 1.2em;
		}

		.field-content
		{
			max-width:368px;
		}
	}
}

.views-field-field-image-header
{
	position: absolute;
	width: 100%;	
	top: 0;
	z-index: -9;
}


#block-views-ps-sidebar-block,
#block-views-client-industries-titles-block
{
	width: 35%;
	float: left;
	border-bottom:2px solid $seagreen;


	.icons
	{
		display: inline-block;
		vertical-align: middle;
		background-position: left;
		margin-right:5px;
		min-width: 35px;
		background-repeat: no-repeat;
		float: left;
	}

	ul
	{
		margin: 0px;
		position: relative;
	}

	li
	{
		list-style:none;
		margin:0px;

		a
		{
			padding:27px 25px; 
			display: block;
			text-transform: uppercase;
			background:#f6f6f6;
			border-bottom:1px solid white;
			text-shadow: 0px 1px 1px rgba(0,0,0,0.3);

			&:hover
			{
				background:$seagreen;
				color:white;
				text-decoration: none;

			}
		}
	}

	.Accounting,
	.Accounting_fr
	{
		.icons
		{
			width:18px;
			height: 26px;
		}

		&:hover .icons
		{
			background-image:url("../images/icons/calculator-small-white.png")!important;
		}
	}

	.Business_Consulting,
	.Business_Consulting_fr
	{
		.icons
		{
			width:27px;
			height: 19px;
		}

		&:hover .icons
		{
			background-image:url("../images/icons/chat-small-white.png")!important;
		}
	}

	.Mergers_And_Aquisitions,
	.Mergers_And_Aquisitions_fr
	{
		.icons
		{
			width:28px;
			height: 30px;
		}

		&:hover .icons
		{
			background-image:url("../images/icons/hands-small-white.png")!important;
		}
	}

	.Corporate_And_Personal_Tax,
	.Corporate_And_Personal_Tax_fr
	{	
		.icons
		{
			width:27px;
			height: 34px;
		}

		&:hover .icons
		{
			background-image:url("../images/icons/money-small-white.png")!important;
		}
	}

	.Estate_Management,
	.Estate_Management_fr
	{
		.icons
		{
			width:24px;
			height: 23px;
		}

		&:hover .icons
		{
			background-image:url("../images/icons/home-small-white.png")!important;
		}
	}

	.Assurance_and_Auditing,
	.Assurance_and_Auditing_fr
	{
		.icons
		{
			width:24px;
			height: 23px;
		}

		&:hover .icons
		{
			background-image:url("../images/icons/magnifying-small-white.png")!important;
		}
	}

	.Retail,
	.Retail_fr
	{
		.icons
		{
			width:24px;
			height: 23px;
		}

		&:hover .icons
		{
			background-image:url("../images/icons/retail-small-white.png")!important;
		}
	}

	.Real_Estate,
	.Real_Estate_fr
	{
		.icons
		{
			width:24px;
			height: 23px;
		}

		&:hover .icons
		{
			background-image:url("../images/icons/estate-small-white.png")!important;
		}
	}

	.Manufacturing,
	.Manufacturing_fr
	{
		.icons
		{
			width:22px;
			height: 25px;
		}

		&:hover .icons
		{
			background-image:url("../images/icons/factory-small-white.png")!important;
		}
	}

	.Investment_Companies,
	.Investment_Companies_fr
	{
		.icons
		{
			width:25px;
			height: 27px;
		}

		&:hover .icons
		{
			background-image:url("../images/icons/arrow-small-white.png")!important;
		}
	}

	.Custom_Brokers,
	.Custom_Brokers_fr
	{
		.icons
		{
			width:25px;
			height: 25px;
		}

		&:hover .icons
		{
			background-image:url("../images/icons/dollarman-small-white.png")!important;
		}
	}

	.Communications,
	.Communications_fr
	{
		.icons
		{
			width:28px;
			height: 26px;
		}

		&:hover .icons
		{
			background-image:url("../images/icons/gears-small-white.png")!important;
		}
	}


	.title-icons-small
	{
		height:auto;
		vertical-align: middle;
		padding-right:10px;
	}


	.view-header
	{
		position: absolute;
		top:0;
		cursor: pointer;
	}

	
	.slick-arrow
	{
		position: absolute;
		bottom: -38px;
		height: 40px;
		background:$seagreen;
		cursor: pointer;
		color:transparent;
		width: 100%;
		text-align:center;
		font-size: 0px;
		z-index: 1;
		border:0px;

		&:after
		{
			content: "";
			display: inline;
			position: relative;
			width: 0px;
			height: 0px;
		}

		&.slick-next:after
		{
			
			border-top: 15px solid white;
			border-bottom: 15px solid transparent;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			top: 10px;
		}

		&.slick-disabled
		{
			display: none!important;
		}

		&.slick-prev:after
		{
			border-bottom: 15px solid white;
			border-top: 15px solid transparent;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			top: -5px;
		}
	}
}

#block-views-client-industries-detail-block
{
	overflow:hidden;
	position:relative;
	color:white;

	.view-content
	{
		padding:0px 0px 40px;
		@extend .layout-width;
	}

	.field-icons
	{
		display: none;
	}

	.views-row
	{
		background: #008b7f;
		padding:10px 20px;
		width: 280px;
		height: 280px;
		margin: 10px;
		display: inline-block;	
		text-align: center;
		
		&:hover
		{
			background: #009f94;
		}

		.views-more-link,a,
		.more-link
		{
			display: block;
			color: white;
			text-align:center;
			text-decoration: underline;
		}
	}

	

	.views-field-title
	{
		color:white;
		padding: 10px 0 0px;

		&>span:first-child
		{
			height: 80px;
		}

		span
		{
			display: block;
			font-size: 16px;
			padding: 0px 0px 15px;
		}
	}

	.views-field-body
	{
		p
		{
			line-height: 1.2em;
		}
	}

}

#block-views-quotes-block,
.views-field-field-author
{
	.views-field-body
	{
		text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
	}
}

#block-views-quotes-block,
#block-block-11
{
	background:url(../images/quote2.jpg) no-repeat;
	background-size:cover;
	background-attachment:fixed;
	padding:120px 1px;
	text-align:center;
	border-top:2px solid $seagreen;
	box-shadow: 0px 1000px 0px rgba(0,0,0,0.2) inset;

	.content
	{	
		color:white;
		@extend .layout-width;

		p
		{
			font-size: 24px;
		}
	}

	.views-field-field-author
	{
		color: $seagreen;
		font-weight: bold;
	}
}

#block-views-quotes-block,
#block-views-client-industries-detail-block
{
	.slick-arrow
	{
		font-size: 0px;
		background: transparent;
		border: 0px;
		height: 30px;
		width:18px;
		position: absolute;
		top:50%;
		transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		z-index: 1;
		cursor: pointer;
	}

	.slick-prev.slick-disabled
	{
		background: url(../images/icons/left-arrow-fade.png) no-repeat;
	}

	.slick-prev
	{
		background: url(../images/icons/left-arrow.png) no-repeat;
		left:-40px;

		&:hover
		{
			background: url(../images/icons/left-arrow-green.png) no-repeat;
		}
	}

	.slick-next.slick-disabled
	{
		background: url(../images/icons/right-arrow-fade.png) no-repeat;
	}

	.slick-next
	{
		background: url(../images/icons/right-arrow.png) no-repeat;
		right: -40px;

		&:hover
		{
			background: url(../images/icons/right-arrow-green.png) no-repeat;
		}
	}

	.slick-slide
	{
		position: relative;

		img
		{
			margin: 10px auto 15px;
		}
	}

	.slick-vertical .slick-slide
	{
		border:0px;
	}


	.slick-dots
	{	

		max-width:1020px;
		margin:0 auto;
		padding-left:20px;
		position: relative;
		bottom:50px;

		li
		{
			display: inline-block;
			margin-right: 10px;
		}

		button
		{
			border: 0px;
			font-size: 0px;
			width: 10px;
			height: 10px;
			border-radius: 10px;
			background: white;
			cursor: pointer;

		}

		.slick-active button
		{
			background:$seagreen;
		}
	}
}	
#block-views-ps-sidebar-block
{	
	height:462px;
}

.view-team,
#block-views-client-industries-pop-up-block,
#block-views-opportunities-description-block
{	
	.view-header
	{
		position: absolute;
		right: 5px;
		top: 50px;
		z-index:1;
	}
	.close-icon
	{
		background:url(../images/icons/cross-icon.png) no-repeat right center;
		display:block;
		height: 50px;
		padding-right: 35px;
		line-height: 50px;
		color: #343434;
		text-transform: uppercase;
		font-size: 15px;
		font-weight: bold;
	}
}

.view-about-page-sections,
.view-team-list,
.view-team,
#block-views-client-industries-pop-up-block,
#block-views-opportunities-description-block
{	
	max-width: 940px;
	margin: 0 auto;
	overflow: hidden;
}


.view-team,
.view-team-list
{	
	padding:30px 10px 40px;
	h3
	{
		padding-bottom:30px;
		margin-top: 0px;
	}

}

.view-about-page-sections 
{	
	.views-row
	{
		padding-bottom: 50px;
		margin-bottom: 50px;
		border-bottom: 1px solid #cccccc;
	}
	.views-row-last
	{
		padding-bottom: 0;
		margin-bottom: 0;
		border-bottom: 0;
	}
	.views-field-title
	{
		margin-bottom: 40px;
	}
	.layout--center
	{
		max-width: 540px;
		margin: 0 auto;
		
		.views-field-title
		{
			text-align: center;
		}
		.views-field-body
		{
			margin-bottom: 20px;
		}
		.views-field-field-image1
		{
			text-align: center;
			
			img
			{
				display: inline-block;
				width: 100%;
				height: auto;
				max-width: 400px;
			}
		}
	}
	.layout--image_right
	{
		.views-field-body
		{
			float: left;
			width: 55%;
		}
		.views-field-field-image1
		{
			float: right;
			width: 40%;
			
			img
			{
				display: block;
				width: 100%;
				height: auto;
			}
		}
		&:after
		{
			content: "";
			display: block;
			clear: both;
		}
	}
	.layout--image_left
	{
		.views-field-body
		{
			float: right;
			width: 55%;
		}
		.views-field-field-image1
		{
			float: left;
			width: 40%;
			
			img
			{
				display: block;
				width: 100%;
				height: auto;
			}
		}
		&:after
		{
			content: "";
			display: block;
			clear: both;
		}
	}
}

.view-about-page-titles,
.view-profession-type
{
	ul
	{
		text-align:center;
		min-height: 40px;
	}

	ul li
	{
		display: inline-block;
		list-style:none;
		margin: 0px;
		margin-left:-5px;

		&:hover a,
		a.active
		{
			color:$seagreen;
			border-bottom:2px solid $seagreen;
		}
	}

	li:last-child
	{
		a
		{
			border-right:0px;
		}
	}

	a
	{
		text-decoration: none;
		text-transform: uppercase;
		color:$darkergrey;
		font-weight: bold;
		display: block;
		padding:7px 10px;
		border-right:1px solid #ccc;

		&:hover
		{	
			text-decoration: none;
		}
	}
}


.view-team,
#block-views-client-industries-pop-up-block,
#block-views-opportunities-description-block,
#block-views-opportunities-description-block .views-row,
#block-views-client-industries-pop-up-block .views-row, 
.view-team .team-container,
.view-team .views-row
{
	display:none;
	position: relative;
}
.content_fr
{
	display: none;
}
[lang=fr]
{
	.content_en
	{
		display: none;
	}
	.content_fr
	{
		display: inline;
	}
}

 #block-views-client-industries-pop-up-block,
 #block-views-opportunities-description-block
 {
 	padding: 30px 0px;

 	.views-row
 	{
 		padding: 0px 10px;
 	}

 	.views-field-title
 	{
		padding-bottom: 30px;
		font-size: 24px;
 	}

 	.views-row ul
 	{
 		padding-left: 50px;
 	}
 }

.view-team-list
{	
	&.close
	{
		display: none;
	}

	.views-row 
	{	

		display: inline-block;
		padding-right: 23px;
		text-align: center;

		.field-content > a
		{
			display: block;
			position: relative;
		}

		a span:last-child
		{
			color:$black;
		}

		a + div
		{
			padding-top: 20px;
		}

		a span:first-child
		{
			width: 100%;
			overflow: hidden;
		}

		a span:first-child + span
		{	
			position: absolute;
			bottom: 0px;
			padding: 10px 0px;
			width: 100%;
			color:white;
			height:0px;
			padding:0px;
			-webkit-transition: height 0.5s;
			transition: height 0.5s;
			background: rgba(0,139,127,0.8);
	
		}

		a:hover span:first-child + span
		{	
			padding:10px 0px;
			height: 20px;
		}

		span
		{
			display: block;
			font-weight: bold;
			position: relative;
			
		}

		span img 
		{
		  width: 100%;
		  margin-bottom: -5px;
		  -moz-transition: all 0.3s;
		  -webkit-transition: all 0.3s;
		  transition: all 0.3s;
		}

		a:hover img 
		{
		  -moz-transform: scale(1.1);
		  -webkit-transform: scale(1.1);
		  transform: scale(1.1);
		}
	}

	.person-name
	{
		color: $seagreen;
	}
	.contact-info
	{
		display: none;
	}

	#Partners,
	#Associe
	{
		.views-row
		{
			padding-right: 21px;
		}
		.views-field-body
		{
		 display: none;
		}
		.view-more
		{
			display: none;
		}
		.field-content>a span:first-child
		{
			border: 1px solid #cccccc;
		}
	}

	#Consultants,
	#Consultation_fr,
	#Professionals,
	#Accountants,
	#Support_Staff,
	#Professionels,
	#comptables,
	#soutien
	{
		a + div
		{
			padding-top: 0px;
			padding-right: 15px;
		}

		.field-content > a 
		{
			text-align: center;
			width: 80%;
			
			span
			{	
				
				&:first-child
				{
					border: 1px solid #ccc;
					
					& + span
					{
						margin-left: 1px;
					}
				}

				span
				{
					display: none;
				}

				img
				{
					width: 100%;
				}
			}
		}

		.views-field-body
		{
			clear: both;
			font-weight: normal;

			.body
			{
				display: none;
			}
		}

		.contact-info,
		.view-more
		{
			clear: left;
			float: none;
		}

		.view-more
		{
			display: none;
			
			a
			{
				font-weight: bold;
				display: block;
				padding: 5px 0px;
			}

			&.open a:first-child
			{
				display: none;
			}
			&.open a:first-child+a
			{
				display: block;
			}

			a:first-child+a
			{
				display: none;
			}
		}


		.views-row
		{
			display: block;
			overflow: hidden;
			text-align: left;
			padding:20px 0px;
			float: left;
			width: 25%;
			
			&:nth-child(4n+2)
			{
				clear: left;
			}
		}
	}
}

.member-image
{
	float:left;
	width:40%;
}

.member-body
{
	float:left;
	width:60%;
}

.member-name
{
	color:$seagreen;
	font-size:22px;
	font-weight:bold;
}

.member-phone:before
{
	content:url(../images/icons/green-phone-icon.png);
}

.member-email:before
{
	content:url(../images/icons/green-email-icon.png);
}

.member-phone:before,
.member-email:before
{
	padding-right:10px;
}

.member-position
{
	font-size:14px;
	color:$black;
	display: block;
}

.member-bio
{
	padding:20px 0px;
}

.join-team-block
{
	background:$lightgrey;
	padding:60px 0px;

	h1
	{
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}
	
}


.view-professional-servcies
{	
	@extend .layout-width;

	.view-content
	{	

		padding:0px 10px;
		overflow:hidden;
	}

	.views-field-title
	{
		color:$seagreen;
	}

	.views-row
	{
		overflow:hidden;
		padding-bottom:30px;
		max-width: 455px;
		min-height: 110px;
		margin: 0 auto;
		position: relative;
	}

	.box
	{
		float: left;
		width: 50%;
	}

	.body-full
	{
		display: none;
	}

	.left
	{
		float: left;
	    position: absolute;
	    left: 50px;
	    opacity: 0;
	   

	    &.slide
	    {	
	    	left:0;
	    	opacity: 1;
	    	 -webkit-transition:all 0.7s linear 0.3s;
		    transition:all 0.7s linear 0.3s;
	    }
		img
		{
			vertical-align: middle;
		}
	}

	.views-more-link,
	.views-less-link
	{
		display: block;
		font-weight: bold;
	}

	.right
	{
		float: right;
		width: 76%;
		padding-right: 30px;
	}

	.field-icons
	{
		display:none;
	}

	.views-field-title
	{	
		font-weight:bold;
		text-transform: uppercase;
		overflow: hidden;

	}
}


.view-current-opportunities	
{  
	display: block;
	max-width: 100%;

	.more-link
	{
		text-align: left;
	}
	
	a
	{	
		display: block;
		color:white;
		margin-bottom:10px;
		padding: 10px 30px;
		position: relative;

		&:after
		{
			content: "";
			display: inline-block;
			position: absolute;
			right:40px;
			top:20px;
			border-bottom:15px solid transparent;
			border-top:15px solid transparent;
			border-left:15px solid white;
			border-right:0px solid transparent;
		}

		span:last-child
		{
			font-weight: normal;
			font-size: 14px;

			ul
			{
				padding-left:20px;
			}
		}
	}

	.views-row
	{
	 	background: $seagreen;

	 	&:hover
		{
			 background: $lightgreen;
		}
	}

	p
	{	
		font-weight: bold;
		padding-bottom: 0px;
		color:white;
	}
}


#block-views-organizations-block
{
	padding: 0 30px;
	position: relative;
	
	.slick-prev,
	.slick-next
	{
		background: url(../images/icons/left-arrow.png) no-repeat center center;
		border: 0;
		-webkit-appearance: none;
		appearance: none;
		font-size: 0;
		display: block;
		position: absolute;
		left: -30px;
		top: 50%;
		margin-top: -15px;
		height: 30px;
		width: 30px;
		cursor: pointer;
	}
	.slick-next
	{
		background-image: url(../images/icons/right-arrow.png);
		left: auto;
		right: -30px;
	}
	
	h2
	{
		text-align: center;
	}

	.views-field-field-image-org
	{	
		float: left;
		width: 24%;

		.field-content
		{
			line-height: 224px;
			max-width: 190px;
			vertical-align: middle;
		}
		img
		{
			display: inline-block;
			width: 100%;
			height: auto;
			vertical-align: middle;
		}
	}

	.views-row
	{
		overflow: hidden;
		margin: 20px 0px;
		outline: none;
		padding: 0 20px;
	}

	.views-field-body
	{	
		width: 70%;
		float: right;
	}
}